
.sign-in-body {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sign-in-body h2{
  font-size: 3rem;
  color: #77C754;
  margin-bottom: 1.5rem;
}

.sign-in-form {
  align-self: center;
  width: 57%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.form-input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 0.7rem;
    border-radius: 5px;
    outline: 0;
    border: solid #000 1px;
}

.form-input:focus::placeholder{
    color: transparent;
    transition: all 0.2s ease-in-out;
}

.sign-in-form button {
    background-color: #77C754;
    border-radius: 5px;
    color: #fff;
    border: 0;
    padding: 0.6rem 1rem;
    width: 100%;
    margin-bottom: 0.7rem;
    cursor: pointer;
    font-size: 1.1rem;
}
.form-input-submit:hover {
    filter: brightness(1.1);
}
.handle-error {
  margin: 0px;
  color: red;
  margin-bottom: 1rem;
}
